body {
    margin: 0;
    padding: 0;
}

#main-header {
    background-color: #933283;
    color: white;
    padding: 20px;
    text-align: right;
}


#main-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#main-header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

#main-header nav a {
    color: white;
    text-decoration: none;
}

#main-header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
}

.descargar-btn {
    background-color: #dc005d;
}

.ticketing-btn {
    background-color: #eebb16;
}

#login-btn {
    background-color: #0beadc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#gif-fondo {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

#gif-fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fondo-negro {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-div {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.content-div2 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: right;
}
