body {
    margin: 0;
    padding: 0;
}

#main-header {
    background-color: #933283;
    color: white;
    padding: 20px;
    text-align: right;
}


#main-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

#main-header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

#main-header nav a {
    color: white;
    text-decoration: none;
}

#main-header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
}

.descargar-btn {
    background-color: #dc005d;
}

.ticketing-btn {
    background-color: #eebb16;
}

#login-btn {
    background-color: #0beadc;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#gif-fondo {
    position: relative; 
    height: 100vh;
}

#gif-fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fondo-negro {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.content-div, .content-div2 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s, transform 0.5s;
}

.content-div.scrolled, .content-div2.scrolled {
    opacity: 1;
    transform: translateY(0);
}

.content-div2 {
    text-align: right;
}